.form__error {
  padding: 8px;
  color: #ffffff;
  font-weight: 700;
  font-style: italic;
  background-color: #da3843;
  margin-top: 5px;
  display: inline-block;
  /* position: absolute; */
  max-width: 200px;
}

@media only screen and (min-width: 567px) {
  .form__error {
    /* position: absolute; */
    max-width: 300px;
  }
}
