.login__link {
  border: 1px solid #fff;
  text-align: center;
  width: 60px;
  padding: 10px;
  float: right;
}

.login__link:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  width: 60px;
  color: #fff;
}

.link:hover {
  cursor: pointer;
  background: #ffffff42;
}

@media only screen and (min-width: 568px) {
  .login__link {
    width: 80px;
  }

  .link {
    width: 80px;
  }
}
