.landing-sec__signup {}

.signup-box__container {}

.signup-box__text {}

.signup-box__btn {
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff
}

.signup-box__btn:hover,
.signup-box__btn:focus {
    cursor: pointer;
}

@media only screen and (min-width: 1000px) {
    .landing-sec__signup {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signup-box__container {
        max-width: 960px;
        text-align: center;
    }

    .signup-box__headers {
        margin-bottom: 40px;
    }

    .signup-box__h1 {
        padding: 10px;
        font-size: 40px;
    }

    .signup-box__btn {
        width: 250px;
        height: 60px;
        font-size: 24px;
    }
}