.company__box {
  background: #fff;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.295);
}

.profile-img__container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  margin-bottom: 15px;
  border-radius: 50%;
  max-width: 100px;
}

.add__btn {
  height: 50px;
  width: 150px;
}

.add__btn:hover {
  cursor: pointer;
}

.company-contact__box {
  margin: 20px auto 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.295);
}

.contact__p {
  text-align: center;
  padding: 5px;
}

.box-1__container {
  padding: 20px;
}

.icon__contact {
  margin-right: 5px;
}

.company__p {
  max-width: 800px;
}

@media only screen and (min-width: 1000px) {
  .company__header {
    font-size: 40px;
  }

  .company__box {
    max-width: 960px;
  }

  .company-contact__box {
    max-width: 960px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .info__conatainer {
    display: flex;
  }

  .box-1 {
    width: 40vw;
  }

  .box-1__container {
    margin: 0 auto;
    max-width: 400px;
    text-align: left;
    padding: 30px;
  }

  .box-2 {
    width: 60vw;
  }
}
