.register {
  height: 100%;
  /* background-color: #39b18d; */
  background: #00008b;
}

.register__container {
  height: 120vh;
  overflow: hidden;
}

.container--green {
  /* background-color: #39b18d; */
  background: #00008b;
  color: #fff;
}
