.register__container {
  height: 100vh;
}

.container--green {
  background-color: #39b18d;
  color: #fff;
}

.register__top {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
