.search__container--margin {
  margin-top: 50px;
}

.search__input {
  height: 40px;
  width: 250px;
  padding: 10px;
}

.search__input--border {
  border-radius: 5px;
}

.btn__container {
  margin-top: 20px;
}

.search__btn {
  height: 40px;
  width: 250px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .search__container {
    display: flex;
    justify-content: center;
  }

  .search__input {
    height: 50px;
    width: 300px;
    font-size: 18px;
    padding: 10px;
  }

  .search__btn {
    height: 50px;
    width: 150px;
    color: white;
    font-size: 18px;
  }

  .btn__container {
    margin-left: 20px;
    margin-top: 0;
  }
}
