.text--center {
  text-align: center;
}

.link--green {
  color: #39b18d;
}

.login__container {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.path__container {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (min-width: 668px) {
}
