.login-form {
    padding: 20px;
    width: 70vw;
    margin: 0 auto;
    margin-top: 15vh;
    background-color: grey;
}

.login-form__fieldset {
    border: none;
    width: 100%;
}

.login-form__legend {
    text-align: center;
}

.login-form__sec {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.login-form__padding {
    padding-bottom: 30px;
}

.login-form__label {
    display: block;
    margin: 10px;
}

.login-form__input {
    display: block;
}

.path__container {
    text-align: center;
    margin-top: 20px; 
}

@media only screen and (min-width: 668px) {
    .login-form {
        max-width: 550px;
    }
}