* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.landing-sec {
  height: 70vh;
  width: 100vw;
  border-bottom: 1px solid black;
}

.landing-sec__signup {
  height: 90vh;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.map {
  height: 90vh;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.btn--red {
  background-color: #db3742;
  color: #ffffff;
}

.btn--red:hover {
  background-color: #db3742c5;
}
