* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

.app__container {
  /* height: 100%; */
}

main {
  height: 100%;
}

.white {
  background: #fff;
}

/* headers */
.header--bold {
  font-weight: 700;
}

.header--light {
  font-weight: 300;
}

.landing-sec {
  height: 70vh;
  width: 100vw;
  border-bottom: 1px solid black;
}

.landing-sec__signup {
  height: 90vh;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.map {
  height: 90vh;
}

button {
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.btn--red {
  background-color: #db3742;
  color: #ffffff;
}

.btn--red:hover {
  background-color: #db3742c5;
}

.btn--green {
  background-color: #00887a;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .header--large {
    font-size: 48px;
  }

  .header--med {
    font-size: 32px;
  }
}
