.section__container {
  background: #fff;
  margin: 0 auto;
  margin-top: 100px;
}

.section__box {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.landing__icon {
  display: block;
  margin-bottom: 20px;
}

.span__header {
  font-weight: 700;
  font-size: 1.25em;
}

.icon-mobile {
  width: 50px;
}

@media only screen and (min-width: 568px) {
  .section__container {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 668px) {
  .section__box {
    text-align: left;
  }
}

@media only screen and (min-width: 1000px) {
  .section__container {
    width: 960px;
  }
}
